
/* Your CSS Code here. */
/* styles.css */

.accio#job {
    width: 150px;
    height: 150px;
    background-color: #000000; /* Black background */
}

.hello-accio {
    color: #ffffff; /* White text color */
    margin-left: 32px;
    padding: 10px;
}
